
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>글쓰기 완료</title>
<style>
table, th, td{
	boder: 1px solid #bcbcbc;
}
table {
	width: 300px;
	height: 200px;
}

</style>
</head>
<body>
	<table class="bbs" width="400" height="100" border="2" bgcolor="D8D8D8">
		<colgroup>
			<col width="100" />
		</colgroup>
		<thead>

		</thead>
		<tbody>
		<th>작업이 완료되었습니다.</th>
		</tbody>
		<tbody>
		<div align="center">
		<td align="center"><input type="button" value="확인" onclick="move('Board_List.ejs');"></td>
		</div>
	</tbody>
</body>
</html>
